# === Front end ===

# dependencies
front-end/baomoi/node_modules/


# Expo
front-end/baomoi/.expo/
front-end/baomoi/dist/
front-end/baomoi/web-build/

# Native
front-end/baomoi/*.mobileprovision
front-end/baomoi/*.orig.*
front-end/baomoi/*.jks
front-end/baomoi/*.p8
front-end/baomoi/*.p12
front-end/baomoi/*.key
front-end/baomoi/*.mobileprovision

# Metro
front-end/baomoi/.metro-health-check*

# debug
front-end/baomoi/npm-debug.*
front-end/baomoi/yarn-debug.*
front-end/baomoi/yarn-error.*

# local env files
front-end/baomoi/.env*.local

# typescript
front-end/baomoi*.tsbuildinfo

# === Back end ===
back-end/.gradle
back-end/build/
back-end/!gradle/wrapper/gradle-wrapper.jar
back-end/!**/src/main/**/build/
back-end/!**/src/test/**/build/



### STS ###
back-end/.apt_generated
back-end/.classpath
back-end/.factorypath
back-end/.project
back-end/.settings
back-end/.springBeans
back-end/.sts4-cache
back-end/bin/
back-end/!**/src/main/**/bin/
back-end/!**/src/test/**/bin/ 

front-end/ForPublisher/.apt_generated
front-end/ForPublisher/gradle/**
front-end/ForPublisher/.classpath
front-end/ForPublisher/.factorypath
front-end/ForPublisher/.project
front-end/ForPublisher/.settings
front-end/ForPublisher/.springBeans
front-end/ForPublisher/.sts4-cache
front-end/ForPublisher/bin/
front-end/ForPublisher/!**/src/main/**/bin/
front-end/ForPublisher/!**/src/test/**/bin/ 

### IntelliJ IDEA ###
back-end/.idea
back-end/*.iws
back-end/*.iml
back-end/*.ipr
back-end/out/
back-end/!**/src/main/**/out/
back-end/!**/src/test/**/out/

front-end/ForPublisher/.idea
front-end/ForPublisher/*.iws
front-end/ForPublisher/*.iml
front-end/ForPublisher/*.ipr
front-end/ForPublisher/out/
front-end/ForPublisher/!**/src/main/**/out/
front-end/ForPublisher/!**/src/test/**/out/